@import "tailwindcss";

@theme {
  --animate-enter: enter 1s ease-in-out;
  @keyframes enter {
    0%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */


*{
  transition: .5s;
}
body{
  width: 100vw;
  height: 100vh;
  background-image: url('/bg.png');
}
